@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&family=Roboto:wght@100&display=swap');

header h1{
    color: #EEEDF0;
    font-weight: 100;
    font-size:5em;
    text-align: center;
    font-family: 'Open-sans', sans-serif;
}

body{
    background-color: #17181F;
    overflow-x: hidden;
    margin:0;
}

.list p{
    color: #EEEDF0; 
    font-size: 2.7em;
    font-family: 'roboto','sans-serif';
    margin:0;
    text-align:center;
}

.titre h2, .titre-top h2{
    color:#EEEDF0;
    font-family: 'roboto', 'sans-serif';
    font-size:3.5em;
    font-weight:100;
}

a{
    text-decoration: none;
}

.list div{
    display:inline-block;
    margin: 2.5em;
}

.linear-gradient-playlist{
    background:linear-gradient(135deg, hsl(236, 48%, 61%),hsl(306, 49%, 60%));
    flex-wrap:wrap;
    border-radius: 20%;

}

.linear-gradient-playlist div{
    background:#17181F;
    margin: 4px;
    border-radius: 20%;
    padding: 20px;
    height:11.5em;
    width: 12em;
}

.linear-gradient-playlist div button{
    border:none;
    background:none;
    position: relative;
    left: 11em;
    top: 7em;
    cursor:pointer;
}

.linear-gradient-playlist div button img{
    width:1.5em;
    height:auto;
    filter: drop-shadow(0 0 20px  #fff);
}

.toptop{

    margin-bottom:10vh;
}

.linear-gradient-top{
    background: linear-gradient(270deg,hsl(236, 48%, 61%),hsl(306, 49%, 60%));
    border-radius:2em;
    padding: .2em;
    margin: 1em 0;
    width:90%;
    position: relative;
    left:5%;
    right:5%;
}

.top{
    background: #17181F;
    border-radius:2em;
    height:2.5em;
    position: relative;
    transition: ease-in-out .5s .1s;
    display: flex;
    justify-content: space-evenly;
}

.top:hover{
    margin-right:3em;
}

.top img, .top p{
    display: inline-block;
}

.top p{
    font-size: 1.8em;
    font-family:'roboto','sans-serif';
    color:#EEEDF0;
    margin:0.10em 0 0 0;
    vertical-align: middle;
    line-height: normal;
}

.play2{
  width: 1.5em;
  height:auto; 
  padding: 0;
  left: 10em; 
  transition: ease-in 0.25s 0.1s;
}

.play2:hover{
    filter: drop-shadow( 0 0 1em #83c7ff);
}

.top button{
    border:none;
    background:none;
    cursor:pointer;
}

h2{
    position: relative;
    left:.7em;
}

.nav-prog .boutons, .nav-prog .progress-bar, .nav-prog .info-musique, .nav-prog .sound{
    display: inline-block;
}

.boutons{
    height:auto;
}

.boutons button{
    border: none;
    background: none;
    cursor:pointer;
}

#pause img{
    width:3em;
    height:auto;
}

.nav-prog{  
    position: fixed;
    width:100vw; 
    height: 7vh;
    top:93%;
    width:100%;
    margin:0;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(90deg,hsl(236, 48%, 61%),hsl(306, 49%, 60%));
    white-space: nowrap;
    line-height:7vh;

    
}

.progress-bar{
    position: relative;
    width: 50%;
    height:2.5vh;
    border-radius: 1em;
    background: #17181F;
    top:2.25vh;
}

.progress{
    width:98.5%;
    height:60%;
    background:linear-gradient(90deg,#bac8e0,#6a85b6);
    margin:0;
    position: relative;
    left: .75%;
    border-radius: 5em;
    top:20%;
}

.sound button{
    position: relative;
    background:none;
    border:none;
    cursor:pointer;
    top:1.25vh;
}
.info-musique p{
    position: relative;
    display: inline-block;
    color: #EEEDF0;
    font-family: 'roboto','sans-serif';
    font-size:2em;
    margin:0;
}
.info-musique p + p{
    margin-left:3vw;
}

.info-musique img{
    position:relative;
    width:auto;
    height:80%;
    top:10%;
    border-radius:.4em;
    box-shadow: 0  0 1em #190148;
    right:1vw;
}